---
openapi: 3.0.3
info:
  title: cupbored.ai API
  version: v1
  description: |-
    AI-powered ingredient detection and recipe matching platform.

    This is a curated subset of the API, published to show the design conventions: bearer-token auth, a `{ data: ... }` success envelope, an `{ errors: [...] }` failure envelope, paginated collections, and `204 No Content` on destroy. The full surface is not documented publicly.
servers:
- url: https://api.cupbored.ai
  description: Production
paths:
  "/api/v1/sign_up":
    post:
      summary: create
      tags:
      - Api::V1::Registration
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
              - email
              - password
      responses:
        '201':
          description: creates a user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      display_name:
                        nullable: true
                      verified:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - email
                    - display_name
                    - verified
                    - created_at
                    - updated_at
                required:
                - data
        '400':
          description: rejects a Gmail alias of an existing account without creating a second user
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/sign_in":
    post:
      summary: create
      tags:
      - Api::V1::Session
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
              - email
              - password
      responses:
        '201':
          description: creates a session and returns a token
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      session:
                        type: object
                        properties:
                          id:
                            type: string
                          created_at:
                            type: string
                          expires_at:
                            type: string
                          ip_address:
                            type: string
                          updated_at:
                            type: string
                          user_agent:
                            nullable: true
                          user_id:
                            type: string
                        required:
                        - id
                        - created_at
                        - expires_at
                        - ip_address
                        - updated_at
                        - user_agent
                        - user_id
                      token:
                        type: string
                    required:
                    - session
                    - token
                required:
                - data
        '401':
          description: rejects invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/sign_out":
    delete:
      summary: destroy
      tags:
      - Api::V1::Session
      responses:
        '200':
          description: destroys only the current session
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                required:
                - data
        '401':
          description: rejects an invalid token
          content:
            text/plain:
              schema:
                type: string
  "/api/v1/scans":
    post:
      summary: create
      tags:
      - Api::V1::Scan
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                ingredients:
                  type: array
                  items:
                    type: string
                courses:
                  type: array
                  items:
                    type: string
              required:
              - image
      responses:
        '201':
          description: increments the global counter on a successful scan
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                      rejection_reason:
                        nullable: true
                      match_id:
                        nullable: true
                      ingredients:
                        nullable: true
                    required:
                    - id
                    - status
                    - rejection_reason
                    - match_id
                    - ingredients
                required:
                - data
        '400':
          description: rejects requests without an image
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
        '422':
          description: rejects invalid courses
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
        '429':
          description: returns 429 when the global cap is hit
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
        '503':
          description: scan processing temporarily unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/scans/{id}":
    delete:
      summary: destroy
      tags:
      - Api::V1::Scan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: deletes the scan
    get:
      summary: show
      tags:
      - Api::V1::Scan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns ingredients and match_id when completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                      rejection_reason:
                        nullable: true
                      match_id:
                        nullable: true
                        type: string
                      ingredients:
                        nullable: true
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            raw_name:
                              type: string
                            category:
                              type: string
                            confidence:
                              type: number
                              format: float
                          required:
                          - name
                          - raw_name
                          - category
                          - confidence
                    required:
                    - id
                    - status
                    - rejection_reason
                    - match_id
                    - ingredients
                required:
                - data
        '404':
          description: returns 404 for another users scan
          content:
            text/html:
              schema:
                type: string
  "/api/v1/matches":
    get:
      summary: index
      tags:
      - Api::V1::Match
      responses:
        '200':
          description: includes matches from all authors when no blocks exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        scan_id:
                          type: string
                        scan_image_url:
                          type: string
                        ingredient_count:
                          type: integer
                        recipe_count:
                          type: integer
                        saves_count:
                          type: integer
                        created_at:
                          type: string
                        user_display_name:
                          nullable: true
                          type: string
                        public:
                          type: boolean
                        ingredients:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                            required:
                            - name
                        recipes:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              title:
                                type: string
                              thumbnail_url:
                                nullable: true
                                type: string
                            required:
                            - id
                            - title
                            - thumbnail_url
                      required:
                      - id
                      - scan_id
                      - scan_image_url
                      - ingredient_count
                      - recipe_count
                      - saves_count
                      - created_at
                      - user_display_name
                      - public
                      - ingredients
                      - recipes
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pages:
                        type: integer
                      count:
                        type: integer
                    required:
                    - page
                    - pages
                    - count
                required:
                - data
                - pagination
        '403':
          description: returns 403 with suspended message when account is banned
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
      parameters:
      - name: cuisines
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: diets
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: flavors
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: max_difficulty
        in: query
        required: false
        schema:
          type: integer
      - name: min_recipes
        in: query
        required: false
        schema:
          type: integer
      - name: min_saves
        in: query
        required: false
        schema:
          type: integer
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
  "/api/v1/matches/{id}":
    get:
      summary: show
      tags:
      - Api::V1::Match
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns 200 when the owner requests their own private match
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      public:
                        type: boolean
                      saves_count:
                        type: integer
                      created_at:
                        type: string
                      scan_id:
                        type: string
                      scan_image_url:
                        type: string
                      ingredients:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                          required:
                          - name
                      recipes:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            thumbnail_url:
                              type: string
                            community_rating:
                              type: number
                              format: float
                            community_ratings_count:
                              type: integer
                            total_time_minutes:
                              type: integer
                            servings:
                              type: integer
                            difficulty:
                              type: integer
                            like_count:
                              type: integer
                            dietary_tags:
                              type: array
                              items: {}
                            your_rating:
                              nullable: true
                            rank:
                              type: integer
                          required:
                          - id
                          - title
                          - thumbnail_url
                          - community_rating
                          - community_ratings_count
                          - total_time_minutes
                          - servings
                          - difficulty
                          - like_count
                          - dietary_tags
                          - your_rating
                          - rank
                      user_display_name:
                        nullable: true
                        type: string
                      saved:
                        type: boolean
                      owned:
                        type: boolean
                    required:
                    - id
                    - public
                    - saves_count
                    - created_at
                    - scan_image_url
                    - ingredients
                    - recipes
                    - user_display_name
                    - saved
                    - owned
                required:
                - data
        '404':
          description: returns 404 when a non-owner requests a private match
          content:
            text/html:
              schema:
                type: string
    patch:
      summary: update
      tags:
      - Api::V1::Match
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                public:
                  type: string
              required:
              - public
      responses:
        '200':
          description: sets match back to private
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      public:
                        type: boolean
                      saves_count:
                        type: integer
                      created_at:
                        type: string
                      scan_id:
                        type: string
                      scan_image_url:
                        type: string
                      ingredients:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                          required:
                          - name
                      recipes:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            thumbnail_url:
                              nullable: true
                            community_rating:
                              nullable: true
                            community_ratings_count:
                              type: integer
                            total_time_minutes:
                              type: integer
                            servings:
                              nullable: true
                            difficulty:
                              type: integer
                            like_count:
                              type: integer
                            dietary_tags:
                              type: array
                              items: {}
                            your_rating:
                              nullable: true
                            rank:
                              type: integer
                          required:
                          - id
                          - title
                          - thumbnail_url
                          - community_rating
                          - community_ratings_count
                          - total_time_minutes
                          - servings
                          - difficulty
                          - like_count
                          - dietary_tags
                          - your_rating
                          - rank
                      user_display_name:
                        nullable: true
                      saved:
                        type: boolean
                      owned:
                        type: boolean
                    required:
                    - id
                    - public
                    - saves_count
                    - created_at
                    - scan_id
                    - scan_image_url
                    - ingredients
                    - recipes
                    - user_display_name
                    - saved
                    - owned
                required:
                - data
        '404':
          description: returns 404 for another users match
          content:
            text/html:
              schema:
                type: string
  "/api/v1/bookmarks":
    get:
      summary: index
      tags:
      - Api::V1::Bookmark
      responses:
        '200':
          description: does not trigger N+1 queries when returning multiple matches with recipes and ingredients
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        scan_id:
                          type: string
                        scan_image_url:
                          type: string
                        ingredient_count:
                          type: integer
                        recipe_count:
                          type: integer
                        saves_count:
                          type: integer
                        created_at:
                          type: string
                        user_display_name:
                          nullable: true
                        public:
                          type: boolean
                        ingredients:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                            required:
                            - name
                        recipes:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              title:
                                type: string
                              thumbnail_url:
                                nullable: true
                                type: string
                            required:
                            - id
                            - title
                            - thumbnail_url
                      required:
                      - id
                      - scan_id
                      - scan_image_url
                      - ingredient_count
                      - recipe_count
                      - saves_count
                      - created_at
                      - user_display_name
                      - public
                      - ingredients
                      - recipes
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pages:
                        type: integer
                      count:
                        type: integer
                    required:
                    - page
                    - pages
                    - count
                required:
                - data
                - pagination
    post:
      summary: create
      tags:
      - Api::V1::Bookmark
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                match_id:
                  type: string
              required:
              - match_id
      responses:
        '201':
          description: allows a user to bookmark their own private match
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      match_id:
                        type: string
                    required:
                    - id
                    - match_id
                required:
                - data
        '404':
          description: returns 404 when bookmarking another user private match
          content:
            text/html:
              schema:
                type: string
        '422':
          description: rejects duplicate bookmarks with errors array
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/bookmarks/{id}":
    delete:
      summary: destroy
      tags:
      - Api::V1::Bookmark
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: removes a bookmark
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: Session token returned from POST /sign_in
