---
openapi: 3.0.3
info:
  title: cupbored.ai API
  version: v1
  description: AI-powered ingredient detection and recipe matching platform
servers:
- url: https://api.cupbored.ai
  description: Production
paths:
  "/api/v1/blocks":
    get:
      summary: index
      tags:
      - Api::V1::Block
      responses:
        '200':
          description: returns blocks most-recent-first
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        blocked_user_id:
                          type: string
                        display_name:
                          type: string
                          nullable: true
                      required:
                      - id
                      - blocked_user_id
                      - display_name
                required:
                - data
    post:
      summary: create
      tags:
      - Api::V1::Block
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                match_id:
                  type: string
                blocked_user_id:
                  type: string
      responses:
        '201':
          description: drops follows between the two accounts in both directions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      blocked_user_id:
                        type: string
                    required:
                    - id
                    - blocked_user_id
                required:
                - data
        '404':
          description: returns 404 when the match is another user private match
          content:
            text/html:
              schema:
                type: string
        '422':
          description: returns 422 when blocking the author of your own match
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/blocks/{id}":
    delete:
      summary: destroy
      tags:
      - Api::V1::Block
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: removes a block the current user owns and returns 204
        '404':
          description: returns 404 for a block the current user does not own
          content:
            text/html:
              schema:
                type: string
  "/api/v1/bookmarks":
    get:
      summary: index
      tags:
      - Api::V1::Bookmark
      responses:
        '200':
          description: does not trigger N+1 queries when returning multiple matches
            with recipes and ingredients
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        scan_id:
                          type: string
                        scan_image_url:
                          type: string
                        ingredient_count:
                          type: integer
                        recipe_count:
                          type: integer
                        saves_count:
                          type: integer
                        created_at:
                          type: string
                        user_display_name:
                          nullable: true
                          type: string
                        public:
                          type: boolean
                        ingredients:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                            required:
                            - name
                        recipes:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              title:
                                type: string
                              thumbnail_url:
                                nullable: true
                                type: string
                              thumbnail_aspect_ratio:
                                type: number
                                format: float
                            required:
                            - id
                            - title
                            - thumbnail_url
                        saved:
                          type: boolean
                        bookmark_id:
                          type: string
                        user_avatar_url:
                          nullable: true
                          type: string
                        owned:
                          type: boolean
                      required:
                      - id
                      - scan_id
                      - scan_image_url
                      - ingredient_count
                      - recipe_count
                      - saves_count
                      - created_at
                      - user_display_name
                      - public
                      - ingredients
                      - recipes
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pages:
                        type: integer
                      count:
                        type: integer
                    required:
                    - page
                    - pages
                    - count
                required:
                - data
                - pagination
    post:
      summary: create
      tags:
      - Api::V1::Bookmark
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                match_id:
                  type: string
              required:
              - match_id
      responses:
        '201':
          description: allows a user to bookmark their own private match
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      match_id:
                        type: string
                    required:
                    - id
                    - match_id
                required:
                - data
        '404':
          description: returns 404 when bookmarking another user private match
          content:
            text/html:
              schema:
                type: string
        '422':
          description: rejects duplicate bookmarks with errors array
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/bookmarks/{id}":
    delete:
      summary: destroy
      tags:
      - Api::V1::Bookmark
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: removes a bookmark
  "/api/v1/channels/{channel_id}/recipes":
    get:
      summary: recipes
      tags:
      - Api::V1::Channel
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: paginates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        thumbnail_url:
                          type: string
                        thumbnail_aspect_ratio:
                          type: number
                          format: float
                        community_rating:
                          nullable: true
                        community_ratings_count:
                          type: integer
                        total_time_minutes:
                          type: integer
                        servings:
                          nullable: true
                        difficulty:
                          type: integer
                        like_count:
                          type: integer
                        dietary_tags:
                          type: array
                          items: {}
                        your_rating:
                          nullable: true
                        calories:
                          type: integer
                        bookmarked:
                          type: boolean
                        bookmark_id:
                          nullable: true
                      required:
                      - id
                      - title
                      - thumbnail_url
                      - thumbnail_aspect_ratio
                      - community_rating
                      - community_ratings_count
                      - total_time_minutes
                      - servings
                      - difficulty
                      - like_count
                      - dietary_tags
                      - your_rating
                      - calories
                      - bookmarked
                      - bookmark_id
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pages:
                        type: integer
                      count:
                        type: integer
                    required:
                    - page
                    - pages
                    - count
                required:
                - data
                - pagination
  "/api/v1/channels/{id}":
    get:
      summary: show
      tags:
      - Api::V1::Channel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: reports whether the current user follows it
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      handle:
                        type: string
                        nullable: true
                      avatar_url:
                        type: string
                      recipes_count:
                        type: integer
                      subscriber_count:
                        type: integer
                      youtube_url:
                        type: string
                      instagram_url:
                        type: string
                        nullable: true
                      followed:
                        type: boolean
                    required:
                    - id
                    - name
                    - handle
                    - avatar_url
                    - recipes_count
                    - subscriber_count
                    - youtube_url
                    - instagram_url
                    - followed
                required:
                - data
        '404':
          description: returns 404 for an unknown channel
          content:
            text/html:
              schema:
                type: string
  "/api/v1/comments/{comment_id}/like":
    delete:
      summary: destroy
      tags:
      - Api::V1::CommentLike
      parameters:
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: unlikes the comment
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      body:
                        type: string
                      created_at:
                        type: string
                      edited:
                        type: boolean
                      status:
                        type: string
                      likes_count:
                        type: integer
                      replies_count:
                        type: integer
                      liked:
                        type: boolean
                      owned:
                        type: boolean
                      author:
                        type: object
                        properties:
                          id:
                            type: string
                          display_name:
                            type: string
                          avatar_url:
                            nullable: true
                            type: string
                        required:
                        - id
                        - display_name
                        - avatar_url
                    required:
                    - id
                    - body
                    - created_at
                    - edited
                    - status
                    - likes_count
                    - replies_count
                    - liked
                    - owned
                    - author
                required:
                - data
    post:
      summary: create
      tags:
      - Api::V1::CommentLike
      parameters:
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: is idempotent
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      body:
                        type: string
                      created_at:
                        type: string
                      edited:
                        type: boolean
                      status:
                        type: string
                      likes_count:
                        type: integer
                      replies_count:
                        type: integer
                      liked:
                        type: boolean
                      owned:
                        type: boolean
                      author:
                        type: object
                        properties:
                          id:
                            type: string
                          display_name:
                            type: string
                          avatar_url:
                            nullable: true
                            type: string
                        required:
                        - id
                        - display_name
                        - avatar_url
                    required:
                    - id
                    - body
                    - created_at
                    - edited
                    - status
                    - likes_count
                    - replies_count
                    - liked
                    - owned
                    - author
                required:
                - data
        '404':
          description: returns 404 for a comment the requester cannot see
          content:
            text/html:
              schema:
                type: string
  "/api/v1/comments/{comment_id}/replies":
    get:
      summary: replies
      tags:
      - Api::V1::Comment
      parameters:
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: lists the replies chronologically
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        body:
                          type: string
                        created_at:
                          type: string
                        edited:
                          type: boolean
                        status:
                          type: string
                        likes_count:
                          type: integer
                        replies_count:
                          type: integer
                        liked:
                          type: boolean
                        owned:
                          type: boolean
                        author:
                          type: object
                          properties:
                            id:
                              type: string
                            display_name:
                              type: string
                            avatar_url:
                              nullable: true
                              type: string
                          required:
                          - id
                          - display_name
                          - avatar_url
                      required:
                      - id
                      - body
                      - created_at
                      - edited
                      - status
                      - likes_count
                      - replies_count
                      - liked
                      - owned
                      - author
                  pagination:
                    type: object
                    properties:
                      next_cursor:
                        nullable: true
                      count:
                        type: integer
                    required:
                    - next_cursor
                    - count
                required:
                - data
                - pagination
        '404':
          description: returns 404 for a comment the requester cannot see
          content:
            text/html:
              schema:
                type: string
  "/api/v1/comments/{id}":
    delete:
      summary: destroy
      tags:
      - Api::V1::Comment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: deletes the comment
        '404':
          description: returns 404 for another user comment
          content:
            text/html:
              schema:
                type: string
    patch:
      summary: update
      tags:
      - Api::V1::Comment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                body:
                  type: string
              required:
              - body
      responses:
        '200':
          description: shows the author their own pending edit
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      body:
                        type: string
                      created_at:
                        type: string
                      edited:
                        type: boolean
                      status:
                        type: string
                      likes_count:
                        type: integer
                      replies_count:
                        type: integer
                      liked:
                        type: boolean
                      owned:
                        type: boolean
                      author:
                        type: object
                        properties:
                          id:
                            type: string
                          display_name:
                            nullable: true
                          avatar_url:
                            nullable: true
                            type: string
                        required:
                        - id
                        - display_name
                        - avatar_url
                    required:
                    - id
                    - body
                    - created_at
                    - edited
                    - status
                    - likes_count
                    - replies_count
                    - liked
                    - owned
                    - author
                required:
                - data
        '404':
          description: returns 404 for another user comment
          content:
            text/html:
              schema:
                type: string
  "/api/v1/creators":
    get:
      summary: index
      tags:
      - Api::V1::Creator
      responses:
        '200':
          description: omits a channel with no recipes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        name:
                          type: string
                        avatar_url:
                          type: string
                          nullable: true
                        count:
                          type: integer
                        followed:
                          type: boolean
                      required:
                      - id
                      - type
                      - name
                      - avatar_url
                      - count
                      - followed
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pages:
                        type: integer
                      count:
                        type: integer
                    required:
                    - page
                    - pages
                    - count
                required:
                - data
                - pagination
        '400':
          description: rejects a type outside the allowlist
          content:
            text/html:
              schema:
                type: string
        '401':
          description: requires authentication
          content:
            text/plain:
              schema:
                type: string
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
  "/api/v1/follows":
    get:
      summary: index
      tags:
      - Api::V1::Follow
      parameters:
      - name: type
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: never returns another user follows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        creator:
                          type: object
                          properties:
                            id:
                              type: string
                            type:
                              type: string
                            name:
                              type: string
                            avatar_url:
                              type: string
                              nullable: true
                            count:
                              type: integer
                            followed:
                              type: boolean
                          required:
                          - id
                          - type
                          - name
                          - avatar_url
                          - count
                          - followed
                      required:
                      - id
                      - creator
                required:
                - data
    post:
      summary: create
      tags:
      - Api::V1::Follow
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                type:
                  type: string
                followable_id:
                  type: string
              required:
              - type
              - followable_id
      responses:
        '201':
          description: follows another user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      creator:
                        type: object
                        properties:
                          id:
                            type: string
                          type:
                            type: string
                          name:
                            type: string
                          avatar_url:
                            type: string
                          count:
                            type: integer
                          followed:
                            type: boolean
                        required:
                        - id
                        - type
                        - name
                        - avatar_url
                        - count
                        - followed
                    required:
                    - id
                    - creator
                required:
                - data
        '400':
          description: returns 400 for a type outside the allowlist
          content:
            text/html:
              schema:
                type: string
        '404':
          description: returns 404 when the creator has blocked the current user
          content:
            text/html:
              schema:
                type: string
        '422':
          description: returns 422 when following the same creator twice
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/follows/{id}":
    delete:
      summary: destroy
      tags:
      - Api::V1::Follow
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: unfollows and returns 204
        '404':
          description: returns 404 for another user follow
          content:
            text/html:
              schema:
                type: string
  "/api/v1/identity/email":
    patch:
      summary: update
      tags:
      - Api::V1::Identity::Email
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password_challenge:
                  type: string
              required:
              - email
              - password_challenge
      responses:
        '200':
          description: does not enqueue a verification email
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      display_name:
                        nullable: true
                      verified:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - email
                    - display_name
                    - verified
                    - created_at
                    - updated_at
                required:
                - data
        '401':
          description: returns unauthorized
          content:
            text/plain:
              schema:
                type: string
        '422':
          description: returns unprocessable content
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/identity/email_verification":
    get:
      summary: show
      tags:
      - Api::V1::Identity::EmailVerification
      parameters:
      - name: sid
        in: query
        required: false
        schema:
          type: string
      responses:
        '204':
          description: marks the user as verified
        '400':
          description: returns bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
    post:
      summary: create
      tags:
      - Api::V1::Identity::EmailVerification
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
      responses:
        '204':
          description: enqueues a verification email
        '401':
          description: returns unauthorized
          content:
            text/plain:
              schema:
                type: string
  "/api/v1/identity/password_reset":
    patch:
      summary: update
      tags:
      - Api::V1::Identity::PasswordReset
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                sid:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
              required:
              - sid
              - password
              - password_confirmation
      responses:
        '200':
          description: returns the user data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      display_name:
                        nullable: true
                      verified:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - email
                    - display_name
                    - verified
                    - created_at
                    - updated_at
                required:
                - data
        '400':
          description: returns bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
        '422':
          description: returns unprocessable content
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
    post:
      summary: create
      tags:
      - Api::V1::Identity::PasswordReset
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
              - email
      responses:
        '204':
          description: returns no content without revealing the account state
  "/api/v1/matches":
    get:
      summary: index
      tags:
      - Api::V1::Match
      responses:
        '200':
          description: includes matches from all authors when no blocks exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        scan_id:
                          type: string
                        scan_image_url:
                          type: string
                        ingredient_count:
                          type: integer
                        recipe_count:
                          type: integer
                        saves_count:
                          type: integer
                        created_at:
                          type: string
                        user_display_name:
                          nullable: true
                          type: string
                        public:
                          type: boolean
                        ingredients:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                            required:
                            - name
                        recipes:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              title:
                                type: string
                              thumbnail_url:
                                nullable: true
                                type: string
                              thumbnail_aspect_ratio:
                                type: number
                                format: float
                            required:
                            - id
                            - title
                            - thumbnail_url
                        saved:
                          type: boolean
                        bookmark_id:
                          nullable: true
                          type: string
                        user_avatar_url:
                          nullable: true
                          type: string
                        owned:
                          type: boolean
                      required:
                      - id
                      - scan_id
                      - scan_image_url
                      - ingredient_count
                      - recipe_count
                      - saves_count
                      - created_at
                      - user_display_name
                      - public
                      - ingredients
                      - recipes
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pages:
                        type: integer
                      count:
                        type: integer
                    required:
                    - page
                    - pages
                    - count
                required:
                - data
                - pagination
        '403':
          description: returns 403 with suspended message when account is banned
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
      parameters:
      - name: cuisines
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: diets
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: flavors
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: max_difficulty
        in: query
        required: false
        schema:
          type: integer
      - name: min_recipes
        in: query
        required: false
        schema:
          type: integer
      - name: min_saves
        in: query
        required: false
        schema:
          type: integer
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
  "/api/v1/matches/{id}":
    get:
      summary: show
      tags:
      - Api::V1::Match
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns 200 when the owner requests their own private match
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      public:
                        type: boolean
                      saves_count:
                        type: integer
                      created_at:
                        type: string
                      scan_id:
                        type: string
                      scan_image_url:
                        type: string
                      ingredients:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                          required:
                          - name
                      recipes:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            thumbnail_url:
                              type: string
                            community_rating:
                              type: number
                              format: float
                            community_ratings_count:
                              type: integer
                            total_time_minutes:
                              type: integer
                            servings:
                              type: integer
                            difficulty:
                              type: integer
                            like_count:
                              type: integer
                            dietary_tags:
                              type: array
                              items: {}
                            your_rating:
                              nullable: true
                            calories:
                              type: integer
                            rank:
                              type: integer
                            bookmarked:
                              type: boolean
                            bookmark_id:
                              nullable: true
                            thumbnail_aspect_ratio:
                              type: number
                              format: float
                          required:
                          - id
                          - title
                          - thumbnail_url
                          - community_rating
                          - community_ratings_count
                          - total_time_minutes
                          - servings
                          - difficulty
                          - like_count
                          - dietary_tags
                          - your_rating
                          - calories
                          - rank
                      user_display_name:
                        nullable: true
                        type: string
                      saved:
                        type: boolean
                      owned:
                        type: boolean
                      bookmark_id:
                        nullable: true
                        type: string
                      user_avatar_url:
                        nullable: true
                        type: string
                      comments_count:
                        type: integer
                    required:
                    - id
                    - public
                    - saves_count
                    - created_at
                    - scan_image_url
                    - ingredients
                    - recipes
                    - user_display_name
                    - saved
                    - owned
                required:
                - data
        '404':
          description: returns 404 when a non-owner requests a private match
          content:
            text/html:
              schema:
                type: string
    patch:
      summary: update
      tags:
      - Api::V1::Match
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                public:
                  type: string
              required:
              - public
      responses:
        '200':
          description: sets match back to private
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      public:
                        type: boolean
                      saves_count:
                        type: integer
                      created_at:
                        type: string
                      scan_id:
                        type: string
                      scan_image_url:
                        type: string
                      ingredients:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                          required:
                          - name
                      recipes:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            thumbnail_url:
                              nullable: true
                              type: string
                            community_rating:
                              nullable: true
                            community_ratings_count:
                              type: integer
                            total_time_minutes:
                              type: integer
                            servings:
                              nullable: true
                            difficulty:
                              type: integer
                            like_count:
                              type: integer
                            dietary_tags:
                              type: array
                              items: {}
                            your_rating:
                              nullable: true
                            calories:
                              type: integer
                            rank:
                              type: integer
                            bookmarked:
                              type: boolean
                            bookmark_id:
                              nullable: true
                            thumbnail_aspect_ratio:
                              type: number
                              format: float
                          required:
                          - id
                          - title
                          - thumbnail_url
                          - community_rating
                          - community_ratings_count
                          - total_time_minutes
                          - servings
                          - difficulty
                          - like_count
                          - dietary_tags
                          - your_rating
                          - calories
                          - rank
                      user_display_name:
                        nullable: true
                      saved:
                        type: boolean
                      owned:
                        type: boolean
                      bookmark_id:
                        nullable: true
                      user_avatar_url:
                        nullable: true
                        type: string
                      comments_count:
                        type: integer
                    required:
                    - id
                    - public
                    - saves_count
                    - created_at
                    - scan_id
                    - scan_image_url
                    - ingredients
                    - recipes
                    - user_display_name
                    - saved
                    - owned
                required:
                - data
        '404':
          description: returns 404 for another users match
          content:
            text/html:
              schema:
                type: string
  "/api/v1/matches/{id}/scan_image":
    get:
      summary: scan_image
      tags:
      - Api::V1::Match
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '302':
          description: redirects to a presigned image URL for the current users own
            private match
          content:
            text/html:
              schema:
                type: string
        '404':
          description: returns 404 when the scan has no image attached
          content:
            text/html:
              schema:
                type: string
  "/api/v1/matches/{match_id}/comments":
    get:
      summary: index
      tags:
      - Api::V1::Comment
      parameters:
      - name: match_id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: pages with an opaque cursor
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        body:
                          type: string
                        created_at:
                          type: string
                        edited:
                          type: boolean
                        status:
                          type: string
                        likes_count:
                          type: integer
                        replies_count:
                          type: integer
                        liked:
                          type: boolean
                        owned:
                          type: boolean
                        author:
                          type: object
                          properties:
                            id:
                              type: string
                            display_name:
                              type: string
                              nullable: true
                            avatar_url:
                              nullable: true
                              type: string
                          required:
                          - id
                          - display_name
                          - avatar_url
                      required:
                      - id
                      - body
                      - created_at
                      - edited
                      - status
                      - likes_count
                      - replies_count
                      - liked
                      - owned
                      - author
                  pagination:
                    type: object
                    properties:
                      next_cursor:
                        nullable: true
                      count:
                        type: integer
                    required:
                    - next_cursor
                    - count
                required:
                - data
                - pagination
        '404':
          description: returns 404 for a nonexistent match
          content:
            text/html:
              schema:
                type: string
    post:
      summary: create
      tags:
      - Api::V1::Comment
      parameters:
      - name: match_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                body:
                  type: string
                parent_id:
                  type: string
                status:
                  type: string
                likes_count:
                  type: string
              required:
              - body
      responses:
        '201':
          description: ignores a client-supplied likes_count
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      body:
                        type: string
                      created_at:
                        type: string
                      edited:
                        type: boolean
                      status:
                        type: string
                      likes_count:
                        type: integer
                      replies_count:
                        type: integer
                      liked:
                        type: boolean
                      owned:
                        type: boolean
                      author:
                        type: object
                        properties:
                          id:
                            type: string
                          display_name:
                            nullable: true
                          avatar_url:
                            nullable: true
                            type: string
                        required:
                        - id
                        - display_name
                        - avatar_url
                    required:
                    - id
                    - body
                    - created_at
                    - edited
                    - status
                    - likes_count
                    - replies_count
                    - liked
                    - owned
                    - author
                required:
                - data
        '404':
          description: returns 404 for a match the requester cannot see
          content:
            text/html:
              schema:
                type: string
        '422':
          description: returns 422 for a body over the limit
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/notifications":
    get:
      summary: index
      tags:
      - Api::V1::Notification
      responses:
        '200':
          description: reports whether the recipient follows a comment actor
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        kind:
                          type: string
                        title:
                          type: string
                        body:
                          type: string
                        target:
                          type: object
                          properties:
                            type:
                              type: string
                            id:
                              type: string
                            comment_id:
                              type: string
                          required:
                          - type
                          - id
                        actor:
                          type: object
                          properties:
                            id:
                              type: string
                            type:
                              type: string
                            name:
                              type: string
                            avatar_url:
                              nullable: true
                              type: string
                            count:
                              type: integer
                            followed:
                              type: boolean
                          required:
                          - id
                          - type
                          - name
                          - avatar_url
                          - count
                          - followed
                          nullable: true
                        read:
                          type: boolean
                        created_at:
                          type: string
                      required:
                      - id
                      - kind
                      - title
                      - body
                      - target
                      - actor
                      - read
                      - created_at
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pages:
                        type: integer
                      count:
                        type: integer
                    required:
                    - page
                    - pages
                    - count
                required:
                - data
                - pagination
        '401':
          description: requires authentication
          content:
            text/plain:
              schema:
                type: string
  "/api/v1/notifications/read_all":
    post:
      summary: read_all
      tags:
      - Api::V1::Notification
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
      responses:
        '204':
          description: clears the unread count
  "/api/v1/notifications/unread_count":
    get:
      summary: unread_count
      tags:
      - Api::V1::Notification
      responses:
        '200':
          description: counts only unread, visible notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      unread_count:
                        type: integer
                    required:
                    - unread_count
                required:
                - data
  "/api/v1/notifications/{id}/read":
    post:
      summary: read
      tags:
      - Api::V1::Notification
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
      responses:
        '204':
          description: leaves the rest of the feed unread
        '404':
          description: returns 404 for another user notification
          content:
            text/html:
              schema:
                type: string
  "/api/v1/oauth/apple":
    post:
      summary: apple
      tags:
      - Api::V1::Oauth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identity_token:
                  type: string
                nonce:
                  type: string
                authorization_code:
                  type: string
              required:
              - identity_token
              - nonce
      responses:
        '201':
          description: returns created without calling Apple::ExchangeAuthorizationCode
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      session:
                        type: object
                        properties:
                          id:
                            type: string
                          created_at:
                            type: string
                          expires_at:
                            type: string
                          ip_address:
                            type: string
                          updated_at:
                            type: string
                          user_agent:
                            nullable: true
                          user_id:
                            type: string
                        required:
                        - id
                        - created_at
                        - expires_at
                        - ip_address
                        - updated_at
                        - user_agent
                        - user_id
                      token:
                        type: string
                    required:
                    - session
                    - token
                required:
                - data
        '401':
          description: rejects an invalid token
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
        '422':
          description: rejects an identity whose email already has a password account
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/oauth/google":
    post:
      summary: google
      tags:
      - Api::V1::Oauth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identity_token:
                  type: string
              required:
              - identity_token
      responses:
        '201':
          description: creates a session for a verified Google identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      session:
                        type: object
                        properties:
                          id:
                            type: string
                          created_at:
                            type: string
                          expires_at:
                            type: string
                          ip_address:
                            type: string
                          updated_at:
                            type: string
                          user_agent:
                            nullable: true
                          user_id:
                            type: string
                        required:
                        - id
                        - created_at
                        - expires_at
                        - ip_address
                        - updated_at
                        - user_agent
                        - user_id
                      token:
                        type: string
                    required:
                    - session
                    - token
                required:
                - data
        '401':
          description: rejects an invalid token
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
        '422':
          description: rejects an identity whose email already has a password account
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/password":
    patch:
      summary: update
      tags:
      - Api::V1::Password
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                password_confirmation:
                  type: string
                password_challenge:
                  type: string
              required:
              - password
              - password_confirmation
              - password_challenge
      responses:
        '200':
          description: updates the password with a valid challenge
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      password_digest:
                        type: string
                      email:
                        type: string
                      display_name:
                        nullable: true
                      canonical_email:
                        type: string
                      id:
                        type: string
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      verified:
                        type: boolean
                    required:
                    - password_digest
                    - email
                    - display_name
                    - canonical_email
                    - id
                    - created_at
                    - updated_at
                    - verified
                required:
                - data
        '400':
          description: rejects an incorrect password challenge
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
        '401':
          description: rejects an invalid token
          content:
            text/plain:
              schema:
                type: string
  "/api/v1/profile/avatar":
    delete:
      summary: destroy
      tags:
      - Api::V1::Profile::Avatar
      responses:
        '204':
          description: removes the avatar
    put:
      summary: update
      tags:
      - Api::V1::Profile::Avatar
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
              required:
              - avatar
      responses:
        '200':
          description: replaces an existing avatar
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      display_name:
                        nullable: true
                      verified:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      matchings_count:
                        type: integer
                      saved_count:
                        type: integer
                      oauth_user:
                        type: boolean
                      avatar_url:
                        type: string
                    required:
                    - id
                    - email
                    - display_name
                    - verified
                    - created_at
                    - updated_at
                    - matchings_count
                    - saved_count
                    - oauth_user
                    - avatar_url
                required:
                - data
        '401':
          description: requires authentication
          content:
            text/plain:
              schema:
                type: string
        '422':
          description: does not attach the file
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/profile/cuisine_preferences":
    get:
      summary: show
      tags:
      - Api::V1::Profile::CuisinePreference
      responses:
        '200':
          description: includes the available cuisines list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      cuisines:
                        type: array
                        items:
                          type: string
                      available:
                        type: array
                        items:
                          type: string
                    required:
                    - cuisines
                    - available
                required:
                - data
    put:
      summary: update
      tags:
      - Api::V1::Profile::CuisinePreference
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                cuisines:
                  type: array
                  items:
                    type: string
              required:
              - cuisines
      responses:
        '200':
          description: ignores invalid cuisines
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      cuisines:
                        type: array
                        items:
                          type: string
                    required:
                    - cuisines
                required:
                - data
  "/api/v1/profile/cuisine_suggestions":
    post:
      summary: create
      tags:
      - Api::V1::Profile::CuisineSuggestion
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
      responses:
        '201':
          description: creates a cuisine suggestion
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                    required:
                    - id
                    - name
                required:
                - data
        '422':
          description: rejects blank suggestions
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/profile/diet_preferences":
    get:
      summary: show
      tags:
      - Api::V1::Profile::DietPreference
      responses:
        '200':
          description: includes the available diets list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      diets:
                        type: array
                        items:
                          type: string
                      available:
                        type: array
                        items:
                          type: string
                    required:
                    - diets
                    - available
                required:
                - data
        '401':
          description: returns 401 for GET
          content:
            text/plain:
              schema:
                type: string
    put:
      summary: update
      tags:
      - Api::V1::Profile::DietPreference
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                diets:
                  type: array
                  items:
                    type: string
              required:
              - diets
      responses:
        '200':
          description: ignores invalid diets
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      diets:
                        type: array
                        items:
                          type: string
                    required:
                    - diets
                required:
                - data
        '401':
          description: returns 401 for PUT
          content:
            text/plain:
              schema:
                type: string
  "/api/v1/profile/matches":
    get:
      summary: index
      tags:
      - Api::V1::Profile::Match
      responses:
        '200':
          description: does not trigger N+1 queries when returning multiple matches
            with recipes and ingredients
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        scan_id:
                          type: string
                        scan_image_url:
                          type: string
                        ingredient_count:
                          type: integer
                        recipe_count:
                          type: integer
                        saves_count:
                          type: integer
                        created_at:
                          type: string
                        user_display_name:
                          nullable: true
                        public:
                          type: boolean
                        ingredients:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                            required:
                            - name
                        recipes:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              title:
                                type: string
                              thumbnail_url:
                                nullable: true
                                type: string
                              thumbnail_aspect_ratio:
                                type: number
                                format: float
                            required:
                            - id
                            - title
                            - thumbnail_url
                        saved:
                          type: boolean
                        bookmark_id:
                          nullable: true
                          type: string
                        user_avatar_url:
                          nullable: true
                          type: string
                        owned:
                          type: boolean
                      required:
                      - id
                      - scan_id
                      - scan_image_url
                      - ingredient_count
                      - recipe_count
                      - saves_count
                      - created_at
                      - user_display_name
                      - public
                      - ingredients
                      - recipes
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pages:
                        type: integer
                      count:
                        type: integer
                    required:
                    - page
                    - pages
                    - count
                required:
                - data
                - pagination
        '401':
          description: returns 401 when unauthenticated
          content:
            text/plain:
              schema:
                type: string
  "/api/v1/profile/user":
    delete:
      summary: destroy
      tags:
      - Api::V1::Profile::User
      responses:
        '204':
          description: does not call Apple::RevokeTokens
        '422':
          description: keeps the account on an incorrect challenge
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
    get:
      summary: show
      tags:
      - Api::V1::Profile::User
      responses:
        '200':
          description: does not include other users' bookmarks in saved_count
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      display_name:
                        type: string
                        nullable: true
                      verified:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      matchings_count:
                        type: integer
                      saved_count:
                        type: integer
                      oauth_user:
                        type: boolean
                      avatar_url:
                        nullable: true
                        type: string
                    required:
                    - id
                    - email
                    - display_name
                    - verified
                    - created_at
                    - updated_at
                    - matchings_count
                    - saved_count
                    - oauth_user
                required:
                - data
        '401':
          description: returns 401 when unauthenticated
          content:
            text/plain:
              schema:
                type: string
    patch:
      summary: update
      tags:
      - Api::V1::Profile::User
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                display_name:
                  type: string
              required:
              - display_name
      responses:
        '200':
          description: returns 200 with the updated display_name and user id, and
            persists the change
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      display_name:
                        type: string
                    required:
                    - id
                    - display_name
                required:
                - data
        '422':
          description: rejects a duplicate display_name case-insensitively with errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/push_token":
    delete:
      summary: destroy
      tags:
      - Api::V1::PushToken
      responses:
        '204':
          description: leaves another account device registered
    post:
      summary: create
      tags:
      - Api::V1::PushToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
                platform:
                  type: string
              required:
              - token
              - platform
      responses:
        '201':
          description: moves a token that was registered to another account
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                    required:
                    - id
                required:
                - data
        '422':
          description: rejects an unknown platform
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/recipe_bookmarks":
    get:
      summary: index
      tags:
      - Api::V1::RecipeBookmark
      responses:
        '200':
          description: does not include recipes the user has not bookmarked
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        thumbnail_url:
                          nullable: true
                          type: string
                        community_rating:
                          nullable: true
                        community_ratings_count:
                          type: integer
                        total_time_minutes:
                          type: integer
                        servings:
                          nullable: true
                        difficulty:
                          type: integer
                        like_count:
                          type: integer
                        dietary_tags:
                          type: array
                          items: {}
                        your_rating:
                          nullable: true
                        calories:
                          type: integer
                        bookmarked:
                          type: boolean
                        bookmark_id:
                          type: string
                        thumbnail_aspect_ratio:
                          type: number
                          format: float
                      required:
                      - id
                      - title
                      - thumbnail_url
                      - community_rating
                      - community_ratings_count
                      - total_time_minutes
                      - servings
                      - difficulty
                      - like_count
                      - dietary_tags
                      - your_rating
                      - calories
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pages:
                        type: integer
                      count:
                        type: integer
                    required:
                    - page
                    - pages
                    - count
                required:
                - data
                - pagination
        '401':
          description: requires authentication
          content:
            text/plain:
              schema:
                type: string
    post:
      summary: create
      tags:
      - Api::V1::RecipeBookmark
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                recipe_id:
                  type: string
              required:
              - recipe_id
      responses:
        '201':
          description: creates a bookmark wrapped in a data key
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      recipe_id:
                        type: string
                    required:
                    - id
                    - recipe_id
                required:
                - data
        '404':
          description: returns 404 for an unknown recipe
          content:
            text/html:
              schema:
                type: string
        '422':
          description: rejects a duplicate bookmark with an errors array
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - errors
  "/api/v1/recipe_bookmarks/{id}":
    delete:
      summary: destroy
      tags:
      - Api::V1::RecipeBookmark
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: removes the bookmark
  "/api/v1/recipes":
    get:
      summary: index
      tags:
      - Api::V1::Recipe
      parameters:
      - name: courses
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: diets
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: max_calories
        in: query
        required: false
        schema:
          type: integer
      - name: min_calories
        in: query
        required: false
        schema:
          type: integer
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: orders by shortest total time when sorted by quickest
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        thumbnail_url:
                          nullable: true
                          type: string
                        community_rating:
                          nullable: true
                          type: number
                          format: float
                        community_ratings_count:
                          type: integer
                        total_time_minutes:
                          type: integer
                        servings:
                          nullable: true
                          type: integer
                        difficulty:
                          type: integer
                        like_count:
                          type: integer
                        dietary_tags:
                          type: array
                          items:
                            type: string
                        your_rating:
                          nullable: true
                          type: integer
                        calories:
                          type: integer
                        bookmarked:
                          type: boolean
                        bookmark_id:
                          nullable: true
                          type: string
                        thumbnail_aspect_ratio:
                          type: number
                          format: float
                      required:
                      - id
                      - title
                      - thumbnail_url
                      - community_rating
                      - community_ratings_count
                      - total_time_minutes
                      - servings
                      - difficulty
                      - like_count
                      - dietary_tags
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pages:
                        type: integer
                      count:
                        type: integer
                    required:
                    - page
                    - pages
                    - count
                required:
                - data
                - pagination
        '401':
          description: requires authentication
          content:
            text/plain:
              schema:
                type: string
  "/api/v1/recipes/{id}":
    get:
      summary: show
      tags:
      - Api::V1::Recipe
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns a recipe reachable only through another users private
            match
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      title:
                        type: string
                      description:
                        type: string
                      cuisine:
                        type: string
                      course:
                        type: string
                      difficulty:
                        type: integer
                      flavor_profile:
                        type: object
                        properties:
                          sweet:
                            type: integer
                          salty:
                            type: integer
                          sour:
                            type: integer
                          spicy:
                            type: integer
                          bitter:
                            type: integer
                          umami:
                            type: integer
                        required:
                        - sweet
                        - salty
                        - sour
                        - spicy
                        - bitter
                        - umami
                      ingredients:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            quantity:
                              type: string
                              nullable: true
                            unit:
                              type: string
                              nullable: true
                            core:
                              type: boolean
                          required:
                          - name
                          - quantity
                          - unit
                          - core
                      steps:
                        type: array
                        items:
                          type: string
                      thumbnail_url:
                        nullable: true
                        type: string
                      channel_name:
                        type: string
                      prep_time_minutes:
                        nullable: true
                        type: integer
                      cook_time_minutes:
                        nullable: true
                        type: integer
                      servings:
                        nullable: true
                        type: integer
                      community_rating:
                        type: number
                        format: float
                        nullable: true
                      community_ratings_count:
                        type: integer
                      like_count:
                        type: integer
                      view_count:
                        type: integer
                      external_video_id:
                        type: string
                      your_rating:
                        nullable: true
                        type: integer
                      dietary_tags:
                        type: array
                        items: {}
                      calories:
                        type: integer
                      bookmarked:
                        type: boolean
                      bookmark_id:
                        nullable: true
                        type: string
                      thumbnail_aspect_ratio:
                        type: number
                        format: float
                      channel:
                        nullable: true
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          avatar_url:
                            nullable: true
                            type: string
                        required:
                        - id
                        - name
                        - avatar_url
                      comments_count:
                        type: integer
                    required:
                    - id
                    - title
                    - description
                    - cuisine
                    - course
                    - difficulty
                    - flavor_profile
                    - ingredients
                    - steps
                    - thumbnail_url
                    - channel_name
                    - prep_time_minutes
                    - cook_time_minutes
                    - servings
                required:
                - data
        '401':
          description: requires authentication
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: returns 404 for a nonexistent recipe
          content:
            text/html:
              schema:
                type: string
  "/api/v1/recipes/{id}/rating":
    put:
      summary: rating
      tags:
      - Api::V1::Recipe
      parameters:
      - name: id
        in: path
        required: true
        schema:
[...]
